body {
    margin: 0%;
    font-family: "Architects Daughter";
    font-family: "Josefin Sans", sans-serif;
    font-family: "Mochiy Pop P One", sans-serif;
  }
  body {
    background-image: url("fondo2.jpg");
    background-size: 800px;
  }

  .container1 {
    background-color: #000000;
    opacity: 0.9;
    width: 90%;
    margin: auto;
  }
  .container {
    background-color: #000000;
    opacity: 0.9;
    width: 90%;
    margin: auto;
  }

  h4 {
    color: aliceblue;
  }
  p {
    font-family: "Josefin Sans", sans-serif;
    font-family: "Lato", sans-serif;
    font-family: "Mochiy Pop P One", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Rubik", sans-serif;
    color: aqua;
    size: 24;
  }

  h1 { 
    color: aliceblue;
  }
  .texto1 {  
    margin-right: 35%;
    background-color: #000000;

  }

 h6 {
  color: aliceblue;
  

 }
 .letrasprincipales {
  color: aqua;
 }
